body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 1000px;
}

a {
    color: #00B7FF;
}

div.wrapper {
    width: 500px;
    text-align: center;
    left: 750px;
    margin-left: 250px;
}

div.left_block {
    float: left;
    width: 300px;
}

div.right_block {
    float: right;
    width: 200px;
}