body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 1000px;
}

a {
    color: #00B7FF;
}

.container {
    background: #ccc;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.column2 {
    float: left;
    width: 300px;
    margin: 16px;
}

.column1 {
    float: left;
    width: 300px;
    margin: 16px;
}

.column3 {
    float: left;
    width: 300px;
    margin: 16px;
}

.clear {
    clear: both;
}